@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:212, 175, 209;
  --background-start-rgb:164, 82, 236;
  --background-end-rgb: 76, 172, 236;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      200deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
